<form class="filosofos-settings" [formGroup]="filosofosForm" (ngSubmit)="aplicarConfiguracoes()">

  <div class="form-container">
   <div class="app-logo">Jantar dos filósofos</div>
     <mat-form-field appearance="outline" class="seletor">
        <mat-label style="color: rgb(103, 104, 106);">Quantidade de filósofos</mat-label>

        <button matPrefix mat-icon-button type="button" (click)="decrementarQuantidade()">
           <mat-icon class="remove-icon">do_not_disturb_on</mat-icon>
        </button>

        <input matInput readonly formControlName="quantidadeFilosofos" [value]="quantidadeFilosofos" style="color: black; text-align: center;" />

        <button matSuffix mat-icon-button type="button" (click)="incrementarQuantidade()">
           <mat-icon class="add-icon">add_circle</mat-icon>
        </button>
     </mat-form-field>
     <div>
     <button mat-raised-button (click)="pausarConfiguracoes()" >Pausar</button>
     <button mat-raised-button class="aplicar-button" (click)="aplicarConfiguracoes()">Aplicar</button>
   </div>
  </div>
</form>
<app-logic-application-philosophers [quantidadeFilosofos]="quantidadeFilosofos"></app-logic-application-philosophers>
