::ng-deep .mat-mdc-form-field-flex {
    width: 205px;
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
::ng-deep .mat-mdc-form-field-flex {
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 205px;
}

  ::ng-deep {
	.mdc-label {
		color: black;
	}
	.mat-mdc-radio-button.mat-accent {
		--mdc-radio-disabled-selected-icon-color: black;
		--mdc-radio-disabled-unselected-icon-color: black;
		--mdc-radio-unselected-hover-icon-color: black;
		--mdc-radio-unselected-icon-color: black;
		--mdc-radio-unselected-pressed-icon-color: black;
		--mdc-radio-selected-focus-icon-color: black;
		--mdc-radio-selected-hover-icon-color: black;
		--mdc-radio-selected-icon-color: black;
		--mdc-radio-selected-pressed-icon-color: black;
		--mat-radio-ripple-color: black;
		--mat-radio-checked-ripple-color: black;
		--mat-radio-disabled-label-color: black;
	}
    
  }

  .app-logo {
    margin: 0 auto;
    text-align: center;
	  color: #1f294c;
	  font-size: 20px;
	  line-height: normal;
	  font-weight: bold;
    font-family: monospace;
}

.banqueiro-settings {
	background-color: rgb(227, 242, 253);
	padding: 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;



	.remove-icon {
		color: red;
	}

	.add-icon {
		color: green;
	}

	.mat-form-field {
		width: 205px;
	}


}

.banqueiro-settings .aplicar-button {
	background-color: rgb(33, 150, 243);
	color: #fff;
  }

  .banqueiro-settings .abrir-modal{
	background-color: rgb(33, 150, 243);
	color: #fff;
}
.dynamic-elements-container {
	margin-right: 10px;
	display: flex;
	align-items: center; /* Align children in the center vertically */
  }

  .seletor{
	margin-top: 20px;
  }
  .dynamic-elements-row {
	display: flex;
	justify-content: center; /* Align children in the center horizontally */
	background-color: rgb(227, 242, 253);
	margin-top: -20px;

	.remove-icon {
		color: red;
	}

	.add-icon {
		color: green;
	}

	.mat-form-field {
		width: 205px;
	}
  }