*{
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: rgb(33, 150, 243);
    position: relative;
    

    &__wrapper {
        margin: 0px auto;
        padding: 16px 0px;
        display: flex;
        gap: 16px;
    }

}
.toggle-button {
  position: absolute;
  top: 10px;
  left: 10px;

  justify-self: end;
    background-color: rgb(33, 150, 243);
    color: #fff;
  }

.show {
    display: block !important; 
  }
  
.hide {
    display: none !important;
  }


  .menu-container {
    top: 60px; 
    left: 20px;
    width: 20vw;
    background-color:  rgb(33, 150, 243); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
position: absolute;  }
  
  .menu-container.show {
    display: block; 
  }
  
  .menu-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-container li {
    padding: 10px;
  }
  
  .menu-container a {
    text-decoration: none;
    color: #000; 
  }
  
  
.app-logo {
    padding-top: 40px;
    text-align: center;
}
.app-img {
    width: 128px;
}

.app-name {
	color: #1f294c;
	font-size: 40px;
	line-height: normal;
	font-weight: bold;
    font-family: monospace;
}
li{
  color: white;
}

li:hover {
  cursor: pointer;
  background: #47a2ec;
}