form{
    padding: 10px;
    background-color: white;
}
button{
    margin: 3px;;
}
mat-form-field {
    margin-top: 10px;
}
.app-logo{
    margin: 0 auto;
	color: #1f294c;
	font-size: 20px;
	line-height: normal;
	font-weight: bold;
    font-family: monospace;
}
.aplicar-button{
    background-color: rgb(33, 150, 243);
	color: #fff;
}

.modal-settings {
	padding: 24px;
	

	.remove-icon {
		color: red;
	}

	.add-icon {
		color: green;
	}

	
}
.close-icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;	
}

.close-icon {
    color: #000; 
}

  .inline-container {
	display: flex;
	align-items: center;
  }