p{
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
}
.recurses{
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}