<form class="modal-settings" [formGroup]="modalForm">
  <div>
    <button mat-icon-button type="button" class="close-icon-button" (click)="fecharModal()">
      <mat-icon class="close-icon">close</mat-icon>
    </button>
  </div>
  <div style="display: flex; justify-content: space-between">
    <h1 mat-dialog-title>Criação de processo</h1>
    <h3 style="text-decoration: underline; margin-top: 20px;">Máx Processos Permitido: <b>{{ maxProcesses }}</b></h3>
  </div>
  <!-- <div class="qtdProcess">
    <mat-form-field appearance="outline" style="text-align: center;">
      <mat-label style="color: rgb(103, 104, 106);">Quantidade de processos:</mat-label>
      <input matInput type="number" formControlName="quantidadeProcessos" min="1" [max]="maxProcesses" style="text-align: center;"/>
    </mat-form-field>
  </div> -->


  <div class="seletor qtdProcess">
    <mat-form-field appearance="outline" style="text-align: center;">
      <mat-label style="color: rgb(103, 104, 106);">Quantidade de processos:</mat-label>
      <button matPrefix mat-icon-button type="button"   (click)="decrementarQuantidade()">
        <mat-icon class="remove-icon" >do_not_disturb_on</mat-icon>
      </button>
      <input matInput readonly formControlName="quantidadeProcessos"   min="1" [max]="maxProcesses" style="color: black; text-align: center;" />
      <button matSuffix mat-icon-button type="button" (click)="incrementarQuantidade()">
        <mat-icon class="add-icon" >add_circle</mat-icon>
      </button>
    </mat-form-field>
  </div>


  <div>
    <div *ngFor="let recurso of recursos | slice:0:quantidadeRecurso">
      <div class="inline-container">
        <mat-checkbox (change)="toggleCreditControls(recurso.controlName)" formControlName="{{ recurso.controlName }}">
          {{ recurso.label }}
        </mat-checkbox>
        <div *ngIf="modalForm.get(recurso.controlName)?.value"> 
          <mat-form-field appearance="outline" class="seletor">
            <mat-label style="color: rgb(103, 104, 106);">Créditos necessários:</mat-label>
            <input matInput type="number" formControlName="{{ recurso.creditosNecessariosFormControl }}Array" min="1" [max]="maxProcesses" style="text-align: center;" />
          </mat-form-field> 
          <mat-form-field appearance="outline" class="seletor">
            <mat-label style="color: rgb(103, 104, 106);">Crédito por solicitação:</mat-label>
            <input matInput type="number" formControlName="{{ recurso.creditosPorSolicitacaoFormControl }}Array" min="1" [max]="maxProcesses" style="text-align: center;" />
          </mat-form-field>
        </div>
      </div>
    </div>    
  </div>
  <button mat-raised-button class="cancelar-button" type="button" (click)="fecharModal()">Cancelar</button>
  <button mat-raised-button class="aplicar-button" type="button" (click)="confirmData()">Aplicar</button>
</form>
