<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
  
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> R1 Alocado </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef> R1 Necessário </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef> R2 Alocado </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
      </ng-container>
  
      
    </mat-table>
  </div>